@font-face {
  font-family: 'Roboto Condensed Regular';
  src: url('../fonts/RobotoCondensed-Regular.eot');
  src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
  url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  }
    